@charset "UTF-8";

/* 공통 */
#headerWrap{box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);}
#wrap {display: flex; flex-direction: column; min-height: 100%;}
#subWrap{flex: 1;}
.contentWrap{padding: 0 0 150px;}

@media (max-width: 1199px){

  #subWrap{margin-top: 80px;}
  .contentWrap{padding: 0 0 100px;}

}

@media (max-width: 767px){

  #subWrap{margin-top: 68px;}

}

@media (max-width: 480px){

  #subWrap{margin-top: 50px;}

}


/* 공통 - 정렬 */
.text-left{text-align: left!important;}

/* 공통 - 색상 */
.subColor{color: #1b2c44;}
.subColor{color: #f56231;}

/* 공통 - 이미지 확대 보기 */
.imgZoomBox img{display: block; max-width: 100%; margin: 0 auto;}
.imgZoomBox{position: relative;}
.imgZoomBox .zoomView{display: none; position: absolute; bottom: -35px; right: 0; width: 42px; height: 42px; background: url(../images/common/zoom_view.png) no-repeat; background-size: contain!important;}
.imgZoomBox .zoomView02{background:url(../images/common/zoom_view02.png) no-repeat center;}

@media (max-width: 767px){

  .imgZoomBox .zoomView{display: block;}

}

@media (max-width: 480px){

  .imgZoomBox .zoomView{width: 36px; height: 36px;}

}

/* 공통 - 제목 */
.titleBox{height: 318px; gap :20px 0; display: flex; flex-direction: column; align-items: center; justify-content: center;} 
.titleBox h3{text-align: center; font-size: 35px; color: #000;}
.titleBox span{text-align: center; font-size: 20px; color: #999;}
.tit{position: relative; padding-top: 12px; margin: 22px 0; font-weight: 500; color: #000; font-size: 25px;}
.tit::before{content: ''; position: absolute; top:0; left:0; width: 44px; height: 2px; background-color: #1b2c44;}

@media (max-width: 1199px){

  .titleBox{height: 280px;}
  .titleBox h3{font-size: 28px;}
  .titleBox span{font-size: 18px;}

  .tit{margin: 15px 0; padding-top: 8px; font-size: 20px;}
  .tit::before{width: 25px; height: 1px;}

}

@media (max-width: 767px){

  .titleBox{height: 220px; gap: 15px 0;}
  .titleBox h3{font-size: 24px;}
  .titleBox span{font-size: 16px;}
  .tit{font-size: 18px;}
  .tit::before{width: 20px;}

}

@media (max-width: 480px){

  .titleBox{height: 170px; gap: 10px 0;}
  .titleBox h3{font-size: 20px;}
  .titleBox span{font-size: 14px;}
  .tit{font-size: 16px;}


}

/* 공통 - 서브 상단 */
.subTopBox{position: relative; height: 379px; padding: 0 20px;}
.subTopBox img{position: absolute; top:0; left:0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}
.subTopBox .titleBox{position: relative; height: 100%; gap: 35px 0; flex-direction: column; display: flex; align-items: center; justify-content: center;}
.subTopBox .titleBox h3{position: relative; color: #fff; font-weight: 900; font-size: 60px;}
.subTopBox .titleBox h3::after{content: ''; width: 35px; height: 2px; position: absolute; bottom: -17px; left: 50%; margin-left: -17.5px; background-color: #fff;}
.subTopBox .titleBox p{font-size: 30px; color: #fff; word-break: keep-all; text-align: center;} 

@media (max-width: 1199px){

  .subTopBox .titleBox h3{font-size: 50px;}
  .subTopBox .titleBox h3::after{width: 30px; height: 1px; margin-left: -15px;}
  .subTopBox .titleBox p{font-size: 24px;}
  .subTopBox{height: 350px;}

}

@media (max-width: 767px){

  .subTopBox .titleBox h3{font-size: 40px;}
  .subTopBox .titleBox h3::after{width: 20px; margin-left: -10px;}
  .subTopBox .titleBox p{font-size: 18px;}
  .subTopBox{height: 320px;}

}

@media (max-width: 480px){

  .subTopBox .titleBox h3{font-size: 24px;}
  .subTopBox .titleBox h3::after{width: 15px; margin-left: -7.5px;}
  .subTopBox .titleBox p{font-size: 16px;}
  .subTopBox{height: 270px;}

}

/* 브레드크럼 */
.breadcrumbBox{display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #ddd;}
.breadcrumbBox .home{ width: 57px; height: 84px; border-right: 1px solid #ddd; background: url(../images/sub/home_icon.png)no-repeat center; }
.breadcrumbBox .depthBox{position: relative;}
.breadcrumbBox .depthBox:last-child > a{font-weight: 700;}
.breadcrumbBox .depthBox > a{position: relative; display: flex; align-items: center; height: 84px; padding: 0 71px 0 43px; font-size: 20px; color: #000; border-right: 1px solid #ddd; line-height: 1;}
.breadcrumbBox .depthBox > a.active::after{transform: translateY(-50%) rotate(-180deg);}
.breadcrumbBox .depthBox > a::after{content: ''; position: absolute; top: 50%; transform: translateY(-45%); right:17px; width: 11px; height: 11px; background: url(../images/sub/arrow_icon01.png)no-repeat center; background-size: contain; transition: all .3s;}
.breadcrumbBox .depthBox .depth{display: none; padding: 10px 0; position: absolute; top: 95px; left:0; right:0; background-color: #1b2c44; border-radius: 10px; z-index: 999;}
.breadcrumbBox .depthBox .depth li a{display: block; font-size: 18px; padding: 10px 0 10px 43px; color: #fff;}
.breadcrumbBox .depthBox .depth li a:hover{font-weight: 700;}

@media (max-width: 1199px){

  .breadcrumbBox .home,
  .breadcrumbBox .depthBox > a{height: 60px;}
  .breadcrumbBox .depthBox > a{padding:0 71px 0 25px; font-size: 18px;}
  .breadcrumbBox .depthBox .depth{top: 72px}
  .breadcrumbBox .depthBox .depth li a{padding: 10px 0 10px 25px;}

}

@media (max-width: 767px){

  .breadcrumbBox .home,
  .breadcrumbBox .depthBox > a{height: 50px;}
  .breadcrumbBox .depthBox > a{padding:0 60px 0 20px; font-size: 16px;}
  .breadcrumbBox .depthBox .depth{top: 60px}
  .breadcrumbBox .depthBox .depth li a{padding: 10px 0 10px 20px; font-size: 16px;}
 
}

@media (max-width: 480px){

  .breadcrumbBox{justify-content: flex-start;}
  .breadcrumbBox .home{display: none;}
  .breadcrumbBox .home,
  .breadcrumbBox .depthBox > a{height: 50px;}
  .breadcrumbBox .depthBox > a{font-size: 14px;}
  .breadcrumbBox .depthBox{width: 50%;}
  .breadcrumbBox .depthBox > a::after{width: 8px; height: 8px;}
  .breadcrumbBox .depthBox .depth li a{font-size: 14px;}

}

/* 인사말 */
.greetingBox .layoutBox{display: flex; align-items: flex-start; justify-content: center; gap: 0 65px;}
.greetingBox .title::before{content: ''; position: absolute; left:0; top:0; width: 30px; height: 1px; background-color: #1b2c44;}
.greetingBox .title{padding-top: 13px; position: relative; display: block; margin-bottom: 15px; font-size: 25px; color: #1b2c44; font-weight: 700;}
.greetingBox p{font-size: 20px; color: #555}
.greetingBox p strong{color: #f56231;}
.greetingBox p .ceo{display: block; font-size: 23px; color: #000;}
.greetingBox .imgBox{box-shadow: -5px 8px 10px rgba(203, 210, 218, 1);}
.greetingBox .imgBox img{display: block; width: 100%;}


@media (max-width: 1199px){

  .greetingBox .layoutBox{gap: 60px 0; flex-direction: column-reverse; align-items: center;}
  .greetingBox .title{font-size: 22px;}
  .greetingBox .title::before{width: 25px;}
  .greetingBox p{width: 100%; font-size: 18px;}
  .greetingBox p .ceo{font-size: 20px;}

}

@media (max-width: 767px){

  .greetingBox .title{font-size: 18px;}
  .greetingBox p{font-size: 16px;}
  .greetingBox p .ceo{font-size: 18px;}

}

@media (max-width: 480px){

  .greetingBox .layoutBox{gap: 40px 0;}
  .greetingBox .title::before{width: 20px;}
  .greetingBox .title{font-size: 16px;}
  .greetingBox p{font-size: 14px;}
  .greetingBox p .ceo{margin-top: 20px; font-size: 16px;}
  .greetingBox p br{display: none;}

}

/* social */
.socialBox .topImgBox{background: url(../images/sub/social_bg02.jpg) no-repeat center; background-size: cover;}

@media (max-width: 480px){

  .socialBox .comTextBox .box h5,
  .socialBox .comTextBox .box h4{font-size: 18px;}
  .socialBox .comTextBox .box .infoTextBox .infoBox h6{font-size: 14px;}
  .socialBox .comTextBox .box h5{margin-bottom: 15px;}

  .socialBox .comTextBox .box .infoTextBox .ceoBox span{font-size: 14px;}
  .socialBox .comTextBox .box .infoTextBox .ceoBox strong{font-size: 16px;}

}

/* 공통 - 콘텐츠 상단 이미지 박스 */
.topImgBox{margin-bottom: 42px; display: flex; align-items: center; height: 850px; }
.topImgBox .topText{padding: 40px 26px; font-size: 40px; font-weight: 700; color: #fff; line-height: 1.7; background-color: rgba(0,0,0,.5); text-align: center;}
.topImgBox .topText strong{color: #4ce8df;}

@media (max-width: 1199px){

  .topImgBox{height: 550px;}
  .topImgBox .topText{font-size: 28px;}

}

@media (max-width: 767px){

  .topImgBox{height: 350px;}
  .topImgBox .topText{padding: 20px;  font-size: 22px;}
  .topImgBox .topText br{display: none;}

}

@media (max-width: 480px){

  .topImgBox{height: 250px;}
  .topImgBox .topText{font-size: 16px;}

}

/* 공통 - 상단 텍스트 */
.infoTopText{padding: 0 0 35px; font-size: 20px; color: #555; line-height: 1.7;}

@media (max-width: 1199px){

  .infoTopText{font-size: 16px;}

}


/* 공통 - 텍스트 */
.comTextBox .box h4{font-size: 35px; color: #000;}
.comTextBox .box h4.tit{padding-top: 5px; position: relative;}
.comTextBox .box h4.tit::before{content: ''; width: 44px; height: 2px; position: absolute; left:0; top:0; background-color: #1b2c44;}
.comTextBox .box .text{padding: 30px 0 35px; font-size: 20px; color: #555; line-height: 1.7;}
.comTextBox .box h5{margin-bottom: 40px; font-weight: 700; font-size: 35px; color: #000;}
.comTextBox .box .infoTextBox{margin-bottom: 40px; padding: 25px 30px 25px 22px; background-color: #f4f7fa; border-radius: 8px;}
.comTextBox .box .infoTextBox .infoBox{margin-bottom: 29px;}
.comTextBox .box .infoTextBox .infoBox h6{margin-bottom: 6px; font-size: 25px; color: #555454;}
.comTextBox .box .infoTextBox .infoBox .txt{margin-bottom: 5px; font-size: 20px; color: #555454; font-weight: 400;}
.comTextBox .box .infoTextBox .infoBox .list li{font-size: 20px; color: #555454; font-weight: 400; line-height: 1.7;}
.comTextBox .box .infoTextBox .ceoBox{display: flex; gap: 0 7px; align-items: flex-end; justify-content: flex-end; line-height: 1;}
.comTextBox .box .infoTextBox .ceoBox span{font-size: 20px; color: #555454;}
.comTextBox .box .infoTextBox .ceoBox strong{font-size: 35px; color: #555454;}

@media (max-width: 1199px){


  .comTextBox .box .infoTextBox .infoBox .list li,
  .comTextBox .box .infoTextBox .infoBox .txt,
  .comTextBox .box .text,
  .infoText{font-size: 16px;}
  .comTextBox .box h5,
  .comTextBox .box h4{font-size: 26px;}
  .comTextBox .box .infoTextBox .infoBox h6{font-size: 20px;}

  .comTextBox .box .infoTextBox .ceoBox span{font-size: 18px;}
  .comTextBox .box .infoTextBox .ceoBox strong{font-size: 26px;}

  .comTextBox .box h4.tit::before{width: 33px;}

}

@media (max-width: 767px){

  .comTextBox .box h5,
  .comTextBox .box h4{font-size: 22px;}
  .comTextBox .box .infoTextBox .infoBox h6{font-size: 16px;}
  .comTextBox .box h5{margin-bottom: 20px;}

  .comTextBox .box .infoTextBox .ceoBox span{font-size: 16px;}
  .comTextBox .box .infoTextBox .ceoBox strong{font-size: 20px;}

  .comTextBox .box .text br,
  .comTextBox .box .infoTextBox .infoBox .txt br,
  .comTextBox .box .text{padding: 20px 0 25px;}

  .comTextBox .box h4.tit::before{width: 22px;}

}

@media (max-width: 480px){

  .comTextBox .box h5,
  .comTextBox .box h4{font-size: 18px;}
  .comTextBox .box .infoTextBox .infoBox h6{font-size: 14px;}
  .comTextBox .box h5{margin-bottom: 15px;}

  .comTextBox .box .infoTextBox .ceoBox span{font-size: 14px;}
  .comTextBox .box .infoTextBox .ceoBox strong{font-size: 16px;}

}

/* environmental */
.environmentalBox .topImgBox{background: url(../images/sub/environmental_bg02.jpg) no-repeat center; background-size: cover;}
.environmentalBox .comTextBox .box .text{padding-bottom: 70px;}
.environmentalBox .box .infoTextBox .infoBox .txt{margin-bottom: 45px;}

@media (max-width: 767px){

  .environmentalBox .box .infoTextBox .infoBox .txt{margin-bottom: 20px;}
  .environmentalBox .comTextBox .box .text{padding-bottom: 30px;}

}

/* 경영이념 */
.philosophyBox{padding: 3px 20px; background: url(../images/sub/philosophy_bg02.jpg)no-repeat center; background-size: cover; z-index: -1;}

/* governance */
.governanceBox .topImgBox{background: url(../images/sub/governance_bg.jpg)no-repeat center;}
.governanceBox .governanceTopText .imgZoomBox{margin: 47px 0 0;}
.governanceBox .governanceTopText{margin-bottom: 90px;}
.governanceBox .governanceTopText .imgZoomBox .zoomView{background: url(../images/common/zoom_view02.png)no-repeat center;}
.governanceBox .governanceTextBox{margin-bottom: 48px; padding: 65px 0 120px; background-color: #fafafa;}
.governanceBox .governanceTextBox h3{margin-bottom: 20px; font-size: 35px; color: #000;}
.governanceBox .governanceTextBox .text{margin-bottom: 60px; font-size: 20px; color: #555454; line-height: 1.6;}
.governanceBox .governanceTextBox h4{margin-bottom: 83px; font-size: 35px; color: #000; font-weight: 500;}
.governanceBox .governanceTextBox .governanceList{display: flex; gap: 38px 2%; flex-wrap: wrap;}
.governanceBox .governanceTextBox .governanceList li{width: 23.44%; border: 1px solid #1b2c44;}
.governanceBox .governanceTextBox .governanceList li span{display: block; height: 77px; line-height: 77px; text-align: center; color: #fff; font-weight: 700; font-size: 20px; background-color: #1b2c44;}
.governanceBox .governanceTextBox .governanceList li p{display: flex; justify-content: center; align-items: center; height: 157px; text-align: center; font-size: 20px; color: #555454; background-color: #fff;}

@media (max-width: 1199px){

  .governanceBox .governanceTextBox{padding: 65px 0;}
  .governanceBox .governanceTopText .imgZoomBox{margin: 30px 0 80px;}
  .governanceBox .governanceTopText{margin-bottom: 50px;}
  .governanceBox .governanceTextBox .text{font-size: 16px;}
  .governanceBox .governanceTextBox h3,
  .governanceBox .governanceTextBox h4{margin-bottom: 20px; font-size: 26px;}
  .governanceBox .governanceTextBox .governanceList li p{height: 110px;}
  .governanceBox .governanceTextBox .governanceList li p,
  .governanceBox .governanceTextBox .governanceList li span{font-size: 16px;}
 
}

@media (max-width: 1024px){

  .governanceBox .governanceTextBox .governanceList{gap: 20px 2%}
  .governanceBox .governanceTextBox .governanceList li{width: 32%;}

}

@media (max-width: 767px){

  .governanceBox .governanceTopText .imgZoomBox{margin: 0 0 50px;}
  .governanceBox .governanceTopText .imgZoomBox .zoomView{bottom: -30px; right:10px;}
  .governanceBox .governanceTextBox .text{margin-bottom: 35px;}
  .governanceBox .governanceTextBox h3,
  .governanceBox .governanceTextBox h4{margin-bottom: 15px; font-size: 22px;}
  .governanceBox .governanceTextBox .governanceList li p{height: 96px;}
  .governanceBox .governanceTextBox .governanceList li span{height: 55px; line-height: 55px;}

}

@media (max-width: 576px){

  .governanceBox .governanceTextBox{padding: 50px 0;}
  .governanceBox .governanceTextBox h3,
  .governanceBox .governanceTextBox h4{margin-bottom: 10px; font-size: 18px;}
  .governanceBox .governanceTextBox .governanceList li{width: 100%;}

}

/* 기업정보 */
.hemcBox .layoutBox{display: flex; gap: 0 40px;}
.hemcBox .tableBox{width: 679px;}
.hemcBox .table{width: 100%; border-top: 3px solid #1b2c44;}
.hemcBox .table tr th{padding: 14px 10px; background-color: #1b2c44; text-align: center; color: #fff; font-weight: 600; font-size: 20px;}
.hemcBox .table tr td{padding:14px 10px 14px 20px; color: #000; font-size: 20px;}
.hemcBox .table tr th,
.hemcBox .table tr td{border: 1px solid #ccc;}
.hemcBox .imgBox{display: flex; flex-direction: column; justify-content: center; margin-top: 105px; gap: 28px 0;}
.hemcBox .imgBox img{display: block; width: 100%;}

@media (max-width: 1199px){
  
  .hemcBox .layoutBox{flex-direction: column-reverse; gap: 30px 0;}
  .hemcBox .tableBox{width: 100%;}
  .hemcBox .table tr th,
  .hemcBox .table tr td{font-size: 16px;}

  .hemcBox .table tr td{padding: 12px 10px 12px 14px;}
  .hemcBox .table tr th{padding: 12px 10px;}
  .hemcBox .imgBox{margin-top: 0;}

}

@media (max-width: 480px){
  
  .hemcBox .imgBox{gap: 15px 0;}
  .hemcBox .table tr th,
  .hemcBox .table tr td{font-size: 14px;}

  .hemcBox .table tr td{padding: 10px 10px 10px 14px;}
  .hemcBox .table tr th{padding: 10px;}

}

/* ESG 경영 */
.esgBox .imgInfoTextBox{margin-bottom: 80px;}
.esgBox .imgInfoTextBox .imgBox{box-shadow: 0 8px 10px rgba(203, 210, 218, 1);}
.esgBox .imgInfoTextBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.esgBox .imgInfoTextBox .layoutBox{display: flex; justify-content: center; align-items: center;}
.esgBox .imgInfoTextBox .textBox{width: 836px; margin-left: -136px; padding: 130px 20px 100px 58px; background-color: #fff;}
.esgBox .imgInfoTextBox .textBox .title{margin-bottom: 60px; font-weight: 700; font-size: 25px; color: #000;}
.esgBox .imgInfoTextBox .textBox .title strong{color: #f56231;}
.esgBox .imgInfoTextBox .textBox .text{font-size: 20px; color: #555;}
.esgBox .esgImgBox{margin-bottom: 120px;}
.esgBox .esgImgBox img{display: block; width: 100%;}
.esgBox .esgListBox{margin-bottom: 78px;}
.esgBox .esgListBox .tit{margin-bottom: 50px; padding-top: 3px; text-align: center; font-size: 35px; font-weight: 500;}
.esgBox .esgListBox .tit::before{ left: 50%; margin-left: -12.5px;}
.esgBox .esgList{display: flex; flex-wrap: wrap; gap: 53px 4%;}
.esgBox .esgList li{width: 48%; display: flex; gap: 0 14px;}
.esgBox .esgList li span{flex-shrink: 0; display: block; width: 56px; height: 56px; line-height: 56px; border-radius: 8px; background-color: #1b2c44; font-weight: 500; color: #fff; font-size: 20px; text-align: center;}
.esgBox .esgList li p{margin-top: 12px; font-size: 30px; font-weight: 700; color: #000; line-height: 1.2; word-break: keep-all;}
.esgBox .downloadBtn{margin: 0 auto; display: flex; gap: 0 20px; align-items: center; justify-content: center; width: 219px; height: 60px; line-height: 60px; text-align: center; border-radius: 7px; background-color: #f56231; color: #fff; font-size: 25px; font-weight: 500;} 
.esgBox .downloadBtn::after{content: ''; width: 16px; height: 17px; background: url(../images/sub/download_icon.png)no-repeat center;}

@media (max-width: 1199px){

  .esgBox .imgInfoTextBox .textBox .title{font-size: 20px;}
  .esgBox .imgInfoTextBox .textBox .text{font-size: 18px;}
  .esgBox .imgInfoTextBox .textBox .title{margin-bottom: 40px;}
  .esgBox .imgInfoTextBox .textBox{padding: 50px 20px 50px 70px;}

  .esgBox .esgListBox .tit{font-size: 30px;}
  .esgBox .esgList li span{width: 45px; height: 45px; line-height: 45px; font-size: 18px;}
  .esgBox .esgList li p{font-size: 24px;}
  .esgBox .downloadBtn{font-size: 20px; width: 190px;}

}

@media (max-width: 1024px){

  .esgBox .imgInfoTextBox .imgBox{display: none; width: 100%;}
  .esgBox .imgInfoTextBox .textBox{position: relative; margin: 0; width: 100%; padding: 80px 20px 65px; z-index: 1;}
  .esgBox .imgInfoTextBox .textBox::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background: url(../images/sub/esg_img01.jpg)no-repeat center; background-size: cover; z-index: -2;}
  .esgBox .imgInfoTextBox .textBox::before{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background-color: rgba(0,0,0,.25); z-index: -1;}

  .esgBox .imgInfoTextBox .textBox .text,
  .esgBox .imgInfoTextBox .textBox .title{color: #fff;}

}

@media (max-width: 767px){

  .esgBox .imgInfoTextBox .textBox .title{font-size: 18px;}
  .esgBox .imgInfoTextBox .textBox .text{font-size: 16px;}
  
  .esgBox .esgListBox .tit{font-size: 26px;}
  .esgBox .esgList li{flex-direction: column; align-items: center;}
  .esgBox .esgList li span{width: 100%; height: 35px; line-height: 35px; font-size: 16px; border-radius: 5px;}
  .esgBox .esgList li p{font-size: 18px; word-break: normal;}
  .esgBox .downloadBtn{font-size: 18px; width: 150px; height: 50px; line-height: 50px;}

  .esgBox .imgInfoTextBox{margin-bottom: 0;}
  .esgBox .esgImgBox{margin-bottom: 50px;}

}

@media (max-width: 480px){

  .esgBox .imgInfoTextBox .textBox{padding: 60px 20px 45px;}
  .esgBox .imgInfoTextBox .textBox .title{margin-bottom: 30px; font-size: 16px;}
  .esgBox .imgInfoTextBox .textBox .text{font-size: 14px;}

  .esgBox .esgList{gap: 30px 0;}
  .esgBox .esgListBox{margin-bottom: 30px;}
  .esgBox .esgListBox .tit{margin-bottom: 30px; font-size: 20px;}
  .esgBox .esgList li{width: 100%;}
  .esgBox .esgList li span{font-size: 14px;}
  .esgBox .esgList li p{font-size: 16px; line-height: 1.5;}
  .esgBox .downloadBtn{font-size: 16px;}

}

/* 오시는 길 */
.directionsBox .mapBox{margin-bottom: 70px; display: flex; flex-direction: column; gap: 30px 0;}
.directionsBox .mapBox .map{height: 495px;}
.directionsBox .mapBox .map img{display: block; width: 100%; height: 100%; object-fit: cover;}
.directionsBox .mapBox .mapInfoList{padding: 17px 0; height: 233px; display: flex; background-color: #fff; box-shadow: 0 0 20px rgba(203, 210, 218, 1); border-radius: 5px;}
.directionsBox .mapBox .mapInfoList li{display: flex; flex-direction: column; justify-content: flex-start; height: 100%; padding: 0 20px; flex: auto; border-right: 1px solid #ccc;}
.directionsBox .mapBox .mapInfoList li img{display: block; width: 177px; margin: 0 auto;}
.directionsBox .mapBox .mapInfoList li:last-child{border-right: 0;}
.directionsBox .mapBox .mapInfoList li em{display: block; font-size: 18px; color: #010101; text-align: center;}
.directionsBox .mapBox .mapInfoList li .icon{position: relative; margin: 0 auto 30px; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center}
.directionsBox .mapBox .mapInfoList li .icon::after{content: ''; background-size: contain!important;}
.directionsBox .mapBox .mapInfoList li:nth-child(1){justify-content: center;}
.directionsBox .mapBox .mapInfoList li:nth-child(2) .icon::after{width: 37px; height: 43px; background: url(../images/sub/phone_icon.png)no-repeat center;}
.directionsBox .mapBox .mapInfoList li:nth-child(3) .icon::after{width: 40px; height: 37px; background: url(../images/sub/phone_icon02.png)no-repeat center;}
.directionsBox .mapBox .mapInfoList li:nth-child(4) .icon::after{width: 37px; height: 26px; background: url(../images/sub/email_icon.png)no-repeat center;}
.directionsBox .mapBox .mapInfoList li:nth-child(5) .icon::after{width: 33px; height: 40px; background: url(../images/sub/address_icon.png)no-repeat center;}
.directionsBox .mapBox .mapInfoList li:nth-child(6) .icon::after{width: 41px; height: 41px; background: url(../images/sub/link_icon.png)no-repeat center;}
.directionsBox .mapBox .mapInfoList li .linkBox a{display: block;}

@media (max-width: 1199px){

  .directionsBox .mapBox .mapInfoList{flex-direction: column; gap:0; height: auto;}
  .directionsBox .mapBox .mapInfoList li{padding: 30px 0; border: 0;}
  .directionsBox .mapBox .mapInfoList li:nth-child(even){background-color: #fbfbfb;}
  .directionsBox .mapBox .map{height: 450px;}
  .directionsBox .mapBox .mapInfoList li .icon{margin: 0 auto 15px;}

}

@media (max-width: 767px){

  .directionsBox .mapBox .map{height: 400px;}
  .directionsBox .mapBox .mapInfoList{padding: 0;}
  .directionsBox .mapBox .mapInfoList li{padding: 20px;}
  .directionsBox .mapBox .mapInfoList li em{font-size: 16px;}
  .directionsBox .mapBox .mapInfoList li .icon{margin: 0 auto 10px;}
  .directionsBox .mapBox .mapInfoList li:nth-child(2) .icon::after{width: 27px; height: 33px;}
  .directionsBox .mapBox .mapInfoList li:nth-child(3) .icon::after{width: 30px; height: 27px;}
  .directionsBox .mapBox .mapInfoList li:nth-child(4) .icon::after{width: 27px; height: 16px;}
  .directionsBox .mapBox .mapInfoList li:nth-child(5) .icon::after{width: 23px; height: 30px;}
  .directionsBox .mapBox .mapInfoList li:nth-child(6) .icon::after{width: 31px; height: 31px;}

}

@media (max-width: 480px){

  .directionsBox .mapBox .map{height: 300px;}
  .directionsBox .mapBox .mapInfoList li img{width: 120px;}

}

/* ci */
.ciBox .topTextBox{margin-bottom: 50px;}
.ciBox .topTextBox .title{margin-bottom: 20px; font-weight: 500; color: #000; font-size: 25px;}
.ciBox .topTextBox .title strong{color: #f56231;}
.ciBox .topTextBox .text{font-size: 20px; color: #555; line-height: 1.7;}
.ciBox .topTextBox .text strong{color: #f56231;}
.ciBox .imgZoomBox{margin-bottom: 100px;}
.ciBox .imgZoomBox .zoomView{bottom: 0;}
.ciBox .downloadBtn{display: flex; align-items: center; justify-content: center; gap: 0 15px; width: 201px; height: 53px; margin: 0 auto; border-radius: 5px; text-align: center; color: #fff; font-size: 25px; color: #fff; background-color: #1b2c44;}
.ciBox .downloadBtn::before{content: ''; width: 19px; height: 18px; background: url(../images/sub/download_icon02.png)no-repeat;}
.ciBox .ciColorBox{margin-top: 55px;}
.ciBox .ciColorBox span{margin-bottom: 13px; display: block; font-size: 20px; font-weight: 700; color: #000;}
.ciBox .ciColorBox .box em{display: block; height: 37px; line-height: 37px; text-align: center; font-weight: 700; color: #fff; font-size: 20px;}
.ciBox .ciColorBox .box01{background-color: #1b2c44;}
.ciBox .ciColorBox .box02{background-color: #f56231;}
.ciBox .ciColorBox p{padding: 10px 10px 36px 12px; border: 1px solid #ddd; font-size: 20px; color: #010101; background-color: #fff; letter-spacing: -1px;}
.ciBox .ciColorBox .layoutBox{display: flex; gap: 0 20px;}
.ciBox .colorBox{width: 220px;}

@media (max-width: 1199px){

  .ciBox .topTextBox{margin-bottom: 25px;}
  .ciBox .imgZoomBox{margin-bottom: 50px;}
  .ciBox .downloadBtn{width: 170px; font-size: 18px;}
  .ciBox .topTextBox .title{margin-bottom: 10px; font-size: 20px;}
  .ciBox .topTextBox .text{font-size: 16px;}
  .ciBox .ciColorBox p,
  .ciBox .ciColorBox .box em,
  .ciBox .ciColorBox span{font-size: 18px;}

}

@media (max-width: 767px){

  .ciBox .ciColorBox p{padding: 10px 20px 20px;}
  .ciBox .topTextBox .title{font-size: 18px;}
  .ciBox .topTextBox .text br{display: none;}
  .ciBox .ciColorBox p,
  .ciBox .ciColorBox .box em,
  .ciBox .ciColorBox span{font-size: 16px;}

}

@media (max-width: 480px){

  .ciBox .topTextBox .title{font-size: 16px;}
  .ciBox .topTextBox .text{font-size: 14px;}
  .ciBox .downloadBtn{width: 155px; font-size: 16px;}

  .ciBox .ciColorBox .layoutBox{flex-direction: column; gap:30px 0;}
  .ciBox .colorBox{width: 100%;}

}

/* 조직도 */
.organizationChartBox .imgBox{height: 603px; margin-bottom: 62px;}
.organizationChartBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.organizationChartBox .organizationChartList{padding: 0 123px;}
.organizationChartBox .organizationChartList li .box{margin-bottom: 25px;}
.organizationChartBox .organizationChartList li .box01{margin-bottom: 77px;}
.organizationChartBox .organizationChartList li .box span{position: relative; top: 32px; display: block; margin: 0 auto; width: 207px; height: 64px; line-height: 64px; text-align: center; color: #fff; border-radius: 50px; font-size: 30px; font-weight: 700;}
.organizationChartBox .organizationChartList li .box01 span{ background-color: #f56231;}
.organizationChartBox .organizationChartList li .box02 span{ background-color: #1b2c44;}
.organizationChartBox .organizationChartList li .box .team + em{padding-top: 13px;}
.organizationChartBox .organizationChartList li .box em{display: block; font-size: 25px; color: #000; max-width: 255px; width: 100%; margin: 0 auto; height: 108px; line-height: 108px; border-radius: 5px; text-align: center; border: 2px solid #ddd; background-color: #fff;}
.organizationChartBox .organizationChartList li .organizationChartList02{position: relative; display: flex; justify-content: center;}
.organizationChartBox .organizationChartList li .organizationChartList02 li{width: 100%; position: relative;}
.organizationChartBox .organizationChartList li .organizationChartList02 li::after{content: ''; position: absolute; top:-24px; left: 50%; margin-left: -0.5px; width: 1px; height: 56px; background-color: #ccc;}
.organizationChartBox .organizationChartList li .organizationChartList02::before{content: ''; position: absolute; left: 50%;
    transform: translateX(-50%); top: -24px; width:55%; height: 1px; background-color: #ccc;}
.organizationChartBox .organizationChartList li .organizationChartList02 li:nth-child(2)::after{height: 109px; top: -77px}
.organizationChartBox .organizationChartList li .organizationChartList02 li:first-child:before {content: '';  position: absolute; top: -24px;
    left: 50%; width: 50%; height: 1px; background-color: #ccc;}
.organizationChartBox .organizationChartList li .organizationChartList02 li:last-child:before {content: '';  position: absolute; top: -24px;
    right: 50%; width: 50%; height: 1px; background-color: #ccc;}

@media (max-width: 1199px){

  .organizationChartBox .organizationChartList{padding: 0;}
  .organizationChartBox .imgBox{height: 450px;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li::after{height: 47px;}
  .organizationChartBox .organizationChartList li .box span{top:22.5px; width: 140px; height: 45px; line-height: 45px; font-size: 18px;}
  .organizationChartBox .organizationChartList li .box em{height: 80px; line-height: 80px; font-size: 18px;}
  .organizationChartBox .organizationChartList li .organizationChartList02{gap: 0 2%; justify-content: space-between;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li{width: 33.33%;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li:nth-child(2)::after{height: 100px;}
  .organizationChartBox .organizationChartList li .box .team + em{padding-top: 10px;}

}

@media (max-width: 767px){

  .organizationChartBox .organizationChartList li .box{margin-bottom: 10px;}
  .organizationChartBox .imgBox{margin-bottom: 30px; height: 350px;}
  .organizationChartBox .organizationChartList li .box .team + em,
  .organizationChartBox .organizationChartList li .box span{font-size: 16px;}
  .organizationChartBox .organizationChartList li .box em{max-width: 200px; height: 70px; line-height: 70px; font-size: 16px;}

  .organizationChartBox .organizationChartList li .organizationChartList02 li:nth-child(2)::after{top: -10px; height: 33px;}
  .organizationChartBox .organizationChartList li .organizationChartList02::before{top: 6px;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li::after{top: 7px; height: 16px;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li:last-child:before,
  .organizationChartBox .organizationChartList li .organizationChartList02 li:first-child:before{top: 6px;}
  
}

@media (max-width: 576px){

  .organizationChartBox .organizationChartList li .box span{width: 120px;}

}

@media (max-width: 480px){

  .organizationChartBox .imgBox{height: 275px;}
  .organizationChartBox .organizationChartList li .box span{width: 100%; border-radius: 5px 5px 0 0;}
  .organizationChartBox .organizationChartList li .organizationChartList02{flex-direction: column; gap: 0;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li{width: 100%;}
  .organizationChartBox .organizationChartList li .organizationChartList02 li:last-child:before,
  .organizationChartBox .organizationChartList li .organizationChartList02 li::after,
  .organizationChartBox .organizationChartList li .organizationChartList02::before,
  .organizationChartBox .organizationChartList li .organizationChartList02 li:first-child:before{display: none;}
  .organizationChartBox .organizationChartList li .box em{max-width: none;}
  .organizationChartBox .organizationChartList li .box span{top: auto;}
  .organizationChartBox .organizationChartList li .box .team + em{padding: 0;}
  .organizationChartBox .organizationChartList li .box em{height: 50px; line-height: 50px; border-radius: 0 0 5px 5px;}

}

/* 장비 */
.equipmentsBox .tit{margin-bottom: 10px; font-weight: 700;}
.equipmentsBox .imgInfoBox{margin-bottom: 55px;}
.equipmentsBox .imgInfoBox .layoutBox{gap: 0 60px; display: flex; align-items: flex-start; justify-content: space-between;}
.equipmentsBox .imgInfoBox .textBox .box{margin-bottom: 35px;}
.equipmentsBox .imgInfoBox .textBox .box .infoBox{margin-top: 15px; display: flex; align-items: center; gap: 0 15px}
.equipmentsBox .imgInfoBox .textBox .box .infoBox span{font-size: 20px;}
.equipmentsBox .equipmentsList li,
.equipmentsBox .equipmentsText{font-size: 20px; color: #504d4d; line-height: 1.7;}
.equipmentsBox .imgInfoBox .imgBox{border-radius: 8px; overflow: hidden; box-shadow: 0 8px 10px rgba(203, 210, 218, 1);}
.equipmentsBox .imgInfoBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.equipmentsBox .equipmentsImgBox{margin-bottom: 75px;}
.equipmentsBox .equipmentsImgList{max-width: 1062px; display: flex; justify-content: space-between; }
.equipmentsBox .equipmentsImgList li .imgBox{width: 137px; height: 176px; margin: 0 auto 22px; border-radius: 5px; overflow: hidden; box-shadow: 0 8px 15px rgba(203, 210, 218, 1);}
.equipmentsBox .equipmentsImgList li .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.equipmentsBox .equipmentsImgList li span{display: block; text-align: center; font-size: 20px; color: #504d4d;}
.equipmentsBox .tit02{margin: 10px 0; padding-left: 6px; font-size: 20px; color: #000; border-left: 2px solid #f56231; line-height: 1;}
.equipmentsBox .equipmentsInfoBox{margin-bottom: 40px;}
.equipmentsBox .equipmentsInfoBox .imgZoomBox{margin-top: 30px;}
.equipmentsBox .equipmentsInfoBox .imgZoomBox .zoomView{bottom:-30px; right: 0;}
.equipmentsBox .equipmentsInfoBox .imgZoomBox img{margin: 0;}
.equipmentsBox .equipmentsTableBox{margin: 35px 0;}
.equipmentsBox .equipmentsTable{width: 100%;}
.equipmentsBox .equipmentsTable{border-top: 3px solid #1b2c44; background-color: #efefef;}
.equipmentsBox .equipmentsTable thead th{padding: 10px; font-size: 20px; color: #000; font-weight: 500; text-align: center; border: 1px solid #ccc; border-width: 1px 1px 0 0; word-break: keep-all;}
.equipmentsBox .equipmentsTable tbody td{padding: 10px; font-weight: 500; font-size: 20px; color: #000; text-align: center; background-color: #fff; border: 1px solid #ccc; border-width: 1px 1px 1px 0; word-break: keep-all;}
.equipmentsBox .equipmentsTable tbody td span{display: block; line-height: 2.5;}
.equipmentsBox .equipmentsTable .color{color: #cc1616;}
.equipmentsBox .imgListBox{margin-top: 100px;}
.equipmentsBox .imgListBox .imgList{display: flex; align-items: flex-start; justify-content: space-between; gap: 0 100px;} 
.equipmentsBox .imgListBox .tit02{margin-bottom: 50px;}

@media (max-width: 1199px){

  .equipmentsBox .equipmentsImgList li span,
  .equipmentsBox .equipmentsList li,
  .equipmentsBox .equipmentsText{font-size: 16px;}
  .equipmentsBox .equipmentsImgList{max-width: none;}
  .equipmentsBox .equipmentsTable thead th,
  .equipmentsBox .equipmentsTable tbody td{font-size: 16px;}
  .equipmentsBox .tit02{font-size: 18px;}

}

@media (max-width: 1024px){

  .equipmentsBox .imgInfoBox .imgBox{width: 100%; margin-bottom: 35px;}
  .equipmentsBox .imgInfoBox .layoutBox{flex-direction: column-reverse;}
  .equipmentsBox .equipmentsText br{display: none;}
  .equipmentsBox .equipmentsImgList{flex-wrap: wrap; gap: 50px 0; justify-content: flex-start;}
  .equipmentsBox .equipmentsImgList li{width: 33.33%;}
  .equipmentsBox .imgInfoBox .textBox .box{margin-bottom: 20px;}
  .equipmentsBox .imgListBox{margin-top: 50px;}

}

@media (max-width: 767px){

  .equipmentsBox .equipmentsTableBox{margin: 20px 0;}
  .equipmentsBox .tit02{font-size: 16px;}
  .equipmentsBox .imgListBox .imgList{flex-direction: column; gap: 60px 0;}
  .equipmentsBox .imgListBox .imgList li{width: 100%;}

}

@media (max-width: 576px){

  .equipmentsBox .equipmentsTableBox{overflow-x: auto; overflow-y: hidden;}
  .equipmentsBox .equipmentsTable{white-space: nowrap;}

}

@media (max-width: 480px){

  .equipmentsBox .imgInfoBox{margin-bottom: 30px;}
  .equipmentsBox .equipmentsImgList li span,
  .equipmentsBox .equipmentsList li,
  .equipmentsBox .equipmentsText{font-size: 14px;}
  .equipmentsBox .equipmentsTable thead th,
  .equipmentsBox .equipmentsTable tbody td{font-size: 14px;}
  .equipmentsBox .equipmentsImgList li{width: 50%;}

}

@media (max-width: 360px){

  .equipmentsBox .equipmentsImgList{gap: 30px 0;}
  .equipmentsBox .equipmentsImgList li{width: 100%;}

}

/* 연혁 */
.historyBox .historyList{display: flex; flex-direction: column; align-items: center; position: relative;}
.historyBox .historyList::after{content: ''; position: absolute; margin-left: -2px; left: 50%; top:18px; bottom: 515px; width: 4px; background-color: #ddd; }
.historyBox .historyList > li{position: relative; width: 50%;}
.historyBox .historyList li .year{display: block; font-size: 35px; color: #000; font-weight: 700;}
.historyBox .historyList li .list{margin-bottom: 25px;}
.historyBox .historyList li .list li{margin-bottom: 5px; font-size: 20px; color: #000}
.historyBox .historyList > li:nth-child(odd){padding-right: 20px; align-self: flex-start; text-align: right;}
.historyBox .historyList > li:nth-child(odd)::after{content: ''; width: 8px; height: 8px; position: absolute; top:18px; right:-4px; background-color: #0963b0; border-radius: 50%; z-index: 9;}
.historyBox .historyList > li:nth-child(odd) .imgBox{text-align: right;}
.historyBox .historyList > li:nth-child(odd) .imgBox img{display: inline-block;}
.historyBox .historyList > li:nth-child(even){padding-left: 20px; align-self: flex-end; text-align: left;}
.historyBox .historyList > li:nth-child(even)::after{content: ''; width: 8px; height: 8px; position: absolute; top:18px; left:-4px; background-color: #0963b0; border-radius: 50%; z-index: 9;}
.historyBox .imgBox img{display: block; max-width: 100%;}

@media (max-width: 1199px){

  .historyBox .historyList li .year{font-size: 28px;}
  .historyBox .historyList li .list li{font-size: 16px;}
  .historyBox .historyList::after{width: 2px;}

  .historyBox .historyList > li:nth-child(odd)::after{right: -3px;}
  .historyBox .historyList > li:nth-child(even)::after{left: -5px;}

}

@media (max-width: 767px){

  .historyBox .historyList li .year{font-size: 22px;}
  .historyBox .historyList li .list li{font-size: 16px;}

}

@media (max-width: 480px){

  .historyBox .historyList li .year{margin-bottom: 10px; padding: 6px 10px 4px; font-size: 14px; border-radius: 5px;}
  .historyBox .historyList li .list li{font-size: 14px;}
  .historyBox .historyList{gap: 40px 0;}
  .historyBox .historyList > li{padding: 0!important; width: 100%; text-align: center!important;}
  .historyBox .historyList li .list{margin-bottom: 10px;}
  .historyBox .imgBox img{display: block!important;}
  .historyBox .historyList::after,
  .historyBox .historyList > li::after{display: none;}
  .historyBox .historyList li .year{background-color: #1b2c44; color: #fff;}

  .historyBox .historyList li .list li{display: flex; justify-content: center; gap: 0 6px;}
  .historyBox .historyList li .list li::before{content: '-';}

}